@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Los tres pilares de la Web</title>
</head>
<body>

    <h1>Los tres pilares de la Web</h1>

    <p><a href=" http://es.wikipedia.org/wiki/Tim_Berners-Lee/">Tim Berners-Lee</a> es considerado el padre de la Web porque desarrollo los tres elementos basicos para el funcionamiento de la <a href="https://es.wikipedia.org/wiki/World_Wide_Web">Web</a></p>
    <p> • <a href=" http://es.wikipedia.org/wiki/HTML/">HTML</a> </p>
    <p> • <a href=" http://es.wikipedia.org/wiki/HTML/">HTTP</a> </p>
    <p> • <a href=" http://es.wikipedia.org/wiki/HTML/">URL</a> </p>

    <h1>HTML</h1>

    <p>HTML, sigles de <strong<HyperText Markul Language</strong>, hace referencia al lenguaje de marcado para la elaboracion de paginas web. Es un estandar que srive de referencia para la elaboracion de paginas web en sus diferentes versiones, define una estructura basica y un codigo (denominado codigo HTML) para la definicion de contenido de una pagina web, como texto, imagenes, entre otros. Es un estandar a cargo de la W3C, organizacion dedicada a la estandarizacion de casi todas las tecnologias ligadas a la web, sobre todo en lo referente a su escritura e interpretacion. Es el lenguaje con el que se definen las paginas web. <p>

    <p> Fuente: <a href=" http://es.wikipedia.org/wiki/HTML/">HTML</a>, Wikipedia </p>

    <h1>HTTP</h1>
    <p><strong>Hypertext Transfer Protocol</strong> o HTTP (en español protocolo de transferencia de hipertexto) es el protocolo usado en cada transaccion de la World Wide Web, HTTP fue desarrollado por World Wide Web Consortium y la Internet Engineering Task Force, colaboracion que culmino en 1999 con la publicacion de una serie RFC, el mas importante de ellos es RFC 2616 que especifica la version 1.1</p>
    <p> Fuente: <a href=" http://es.wikipedia.org/wiki/HTML/">HTTP</a>, Wikipedia </p>

    <h1>URL</h1>
    <p>Un <strong>localizador de recursos uniforme</strong> o URL - siglas en ingles de <em>Uniform Resource Locator</em> es un identificador de recursos de uniforme (URI) cuyos recursos referidos pueden cambiar, esto es, la dirección puede apuntar a recursos varibles en el tiempo. Estan formados por una secuencia de caracteres, de acuerdo a un formato modelico y estandar, que designa recuersos en una red, como Internet.</p>
    <p> Fuente: <a href=" http://es.wikipedia.org/wiki/HTML/">URL</a>, Wikipedia </p>
</body>
</html>