@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>PaginaPrincipal</h1>

        <h2>Meno de Operaciones</h2>

        <ul>
            <li>
                <a>Productos</a>
            </li>
        </ul>

    </div>